@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.3;
    height: 50%;
  }
  90% {
    opacity: 0.1;
    height: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.fade {
  animation-play-state: paused;
  animation-name: fade-out;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.input {
  @apply w-3/4 border-solid border border-gray-600 m-1 text-center;
}

.btn-submit {
  @apply p-2 cursor-pointer m-1;
}

.header-one {
  @apply text-center text-5xl font-extrabold m-1;
}

.header-two {
  @apply text-center text-2xl m-1 font-thin;
}
