<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    {% load static %}
    <link rel="stylesheet" href={% static "accounts/tailwind.css" %} />
  </head>
  <body cz-shortcut-listen="true">
    <div id="app">
      <div class="container">
        <div
          class="text-black bg-gray-100 h-screen w-screen flex items-center justify-center"
        >
          <div
            class="bg-white border-solid border border-gray-200 w-3/4 p-2 text-center shadow-md"
          >
            <h1 class="header-one">Todoer</h1>
            <h2 class="header-two">Password Reset</h2>
            <form
              id="reset-form"
              class="flex flex-col m-3 items-center justify-center"
              onsubmit="return onSubmit()"
              method="POST"
            >
            {% csrf_token %}
              <label for="password" class="text-black m-1">New Password</label
              ><input
                id="password"
                type="password"
                name="first-pass"
                class="text-black bg-gray-100 input"
                value=""
              /><label for="password-again" class="text-black m-1"
                >Confirm New Password</label
              ><input
                type="password"
                id="password-again"
                name="second-pass"
                class="text-black bg-gray-100 input"
                value=""
              /><span class="flex justify-center items-center"
                ><input
                  onchange="onChange()"
                  id="show-password"
                  type="checkbox"
                  class="m-1"
                />
                <p class="text-black m-1">Show Password</p></span
              ><input
                class="text-black bg-gray-100 btn-submit"
                type="submit"
                placeholder="password"
                value="Reset Password"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
    {% load static %}
    <script type="text/javascript" src={% static "accounts/script.js" %}></script>
  </body>
</html>
