<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <link rel="stylesheet" href="../../../frontend/src/tailwind.css" />
  </head>
  <body cz-shortcut-listen="true">
    <div id="app">
      <div class="container">
        <div
          class="text-black bg-gray-100 h-screen w-screen flex items-center justify-center"
        >
          <div
            class="bg-white border-solid border border-gray-200 w-3/4 p-2 text-center shadow-md"
          >
            <h1 class="header-one">Todoer</h1>
            <h2 class="header-two">Password Reset</h2>
            <form class="flex flex-col m-3 items-center justify-center">
              <label for="password" class="text-black m-1">New Password</label
              ><input
                id="password"
                type="password"
                class="text-black bg-gray-100 input"
                value=""
              /><label for="password-again" class="text-black m-1"
                >Confirm New Password</label
              ><input
                type="password"
                id="password-again"
                class="text-black bg-gray-100 input"
                value=""
              /><span class="flex justify-center items-center"
                ><input type="checkbox" class="m-1" />
                <p class="text-black m-1">Show Password</p></span
              ><input
                class="text-black bg-gray-100 btn-submit"
                type="submit"
                placeholder="password"
                value="Login"
              />
            </form>
            <span class="inline-block m-4"
              ><a
                class="text-black cursor-pointer font-thin"
                href="#/request-reset"
                >Forgot password?</a
              ><span class="hidden sm:inline"> | </span
              ><br class="sm:hidden" /><a
                class="text-black cursor-pointer font-thin"
                href="#/register"
                >Don't have an account?</a
              ></span
            >
          </div>
        </div>
      </div>
    </div>

    <script src="/static/frontend/main.js"></script>
  </body>
</html>
